module.exports = {
  apps : [
    {
      name      : "next.{{ user }}.backend",
      script    : "../public/next.dynamic/bin/www",
      env: {
        PORT: "/home/{{ user }}/shared/sockets/next.dynamic.sock",
        NODE_ENV: "development"
      }
    },

    {
      name      : "{{ user }}.backend",
      script    : "../public/dynamic/bin/www",
      env: {
        PORT: "/home/{{ user }}/shared/sockets/dynamic.sock"
      },
      env_production : {
        NODE_ENV: "production"
      }
    },
  ],
}
