[submodule "vendor/nginx-http-accept-lang"]
	path = vendor/nginx-http-accept-lang
	url = git@github.com:fghibellini/nginx-http-accept-lang.git
[submodule "vendor/ansible-letsencrypt"]
	path = vendor/ansible-letsencrypt
	url = git@github.com:thefinn93/ansible-letsencrypt.git
