---

   - name: install nginx package
     action: apt pkg=nginx state=installed update_cache=yes

   - name: install nginx extras package
     action: apt pkg=nginx-extras state=installed update_cache=yes

   - name: ensure nginx is running
     service: name=nginx state=started

   - name: checking existing certificates
     stat: path={{ certificates_folder }}/www.{{ domain }}/privkey.pem
     register: certificates

   - name: remove default nginx site
     action: file path=/etc/nginx/sites-enabled/default state=absent

   - name: CSP rules
     set_fact:
       csp_rules:
         - "default-src {{ csp_default  | join(' ') }}"
         - "script-src {{ csp_script | join(' ') }}"
         - "img-src {{ csp_img | join(' ') }}"
         - "style-src {{ csp_style | join(' ') }}"
         - "font-src {{ csp_font | join(' ') }}"
         - "frame-src {{ csp_frame | join(' ') }}"
         - "child-src {{ csp_child | join(' ') }}"
         - "object-src {{ csp_object | join(' ') }}"
         - "connect-src {{ csp_connect | join(' ') }}"

   - name: CSP main rule
     set_fact:
       csp_rule: "{{ csp_rules | join('; ') }}"

   - name: writes the nginx config
     template: src=templates/nginx.conf.j2 dest=/etc/nginx/nginx.conf mode=0644

   - name: writes the nginx site
     template: src=templates/nginx.site.j2 dest=/etc/nginx/sites-available/www.{{ domain }} mode=0644

   - name: writes the nginx next site
     template: src=templates/nginx.next.site.j2 dest=/etc/nginx/sites-available/next.{{ domain }} mode=0644

   - name: writes the lua lang module
     notify: nginx reload
     copy:
       src: vendor/nginx-http-accept-lang/lang.lua
       dest: /home/{{ user }}/shared/extras/lang.lua
       mode: 'u+x'

   - name: Create symlink for site
     file: src=/etc/nginx/sites-available/www.{{ domain }} dest=/etc/nginx/sites-enabled/www.{{ domain }} state=link
     notify: nginx reload

   - name: Create symlink for next site
     file: src=/etc/nginx/sites-available/next.{{ domain }} dest=/etc/nginx/sites-enabled/next.{{ domain }} state=link
     notify: nginx reload
